{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block content %}

<div class="container my-5" style="width: 600px">
  <div class="p-4"
    style="border:solid 1px #34363c; box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%); border-radius: 15px;">
    <form action="" method="POST" enctype="multipart/formdata">
      {% csrf_token %}
      <h1 class="mb-3">{{ movie_title }}</h1>
      {% bootstrap_form review_form %}
      <div class="form-text">
        평점은 1점부터 10점 사이입니다.
      </div>
      <div class="d-flex gap-2 justify-content-end">
        <input type="submit" class="btn" style="width: 85px; background-color: #ff0558; color: white;" value="작성완료">
      </div>
    </form>
  </div>
</div>

{% endblock %}