{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center my-5">
  <div class="d-flex justify-content-center flex-wrap p-2 pb-5" style="width: 1440px;">
    {% for movie in movie_info %}
    <a href="{% url 'review:create' movie.id %}">
      <div class="mt-2 mb-4 mx-3 contentcard"
        style="width: 311px; box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%); border-radius: 15px;">
        <div class="card-top">
          <div>
            <img style="width: 311px; height: 350px; border-radius: 15px 15px 0 0;" src="{{ movie.img.url }}">
          </div>
        </div>
        <div class="card-body p-4" style="border-radius: 0 0 15px 15px; position: relative;">
          <div class="">
            <h3 class="">{{ movie.movie_name }}</h3>
            <p class="m-0">{{ movie.director_name }} <span class="fw-lighter">| {{ movie.release}} </span>
            </p>
            <p class="m-0"><span style="color: #ff0558">★</span>{{ movie.avg_grade|floatformat }} </p>
            <svg style="position: absolute; top: 19px; right: 22px;" xmlns="http://www.w3.org/2000/svg" width="24"
              height="24" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}